@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/imagens/pessoas.png" class="pessoashome" />
    <h1 class="display-4">Bem-Vindo</h1>
    <p>Aqui você irá encontrar seu melhor destino para um intercâmbio perfeito!!</a>.</p>
</div>
