html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #EFEFEF;
    align-items: center;
    justify-content: center;
    
}
/*caixa*/
.col-md-4 {
    background-color: #48D597;
    border-radius: 10px;
    padding: 2rem 2rem;
    width: 500px;
    margin:0 auto;
    
}
input {
    margin-top: 7px;
}

.btn-cliente {
    background-color: #000033;
    border: none;
    width: 435px;
}
